.snkrsTitle {
    display: flex;
    justify-content: center;
    justify-items: center;
    background-color: #515151;
}

.forms {
    justify-items: center;
    width: 500px;
    padding: 20px;
    position: absolute;
    padding-left: 30%;

}
